<style>
  body{background-image: url(/app/views/Books.jpg); background-repeat: no-repeat; background-size: 2000px 800px; background-attachment: fixed;}
</style>


<h1 style="text-align: center;">
	Book Transactions
</h1>

<table class="table table-striped table-bordered">
	<thead>

		<tr class='danger'>
			<td>Book Name</td>
			<td>BookId</td>
			<td>Transaction Date</td>
			<td>Transaction Type</td>
			<td>Date</td>
			<td>Edit</td>
			<td>Delete</td>
		</tr>

	</thead>
	<tbody>
		<tr ng-repeat="transaction in transactions" class='info'>
			<td>{{transaction.book.bookname}}</td>
			<td>{{transaction.bookId}}</td>
			<td>{{transaction.transDate}}</td>
			<td>{{transaction.transtype}}</td>
			<td>{{transaction.date}}</td>
			<td><button ng-click="searchTransactionById(transaction._id);" data-toggle="modal" data-target="#transactionEditModal" class="btn btn-info btn-sm">Edit Book Transaction</button></td>
			<td><button ng-click="deleteTransaction(transaction._id);" class="btn btn-info btn-sm">Delete</button></td>
		</tr>
		<tr>
			<td colspan='7'><button type="button" ng-click="searchTransactionById(123456789012);" class="btn btn-info btn-lg col-md-offset-5" data-toggle="modal" data-target="#transactionAddModal">Add Book Transaction</button></td>
		</tr>
	</tbody>
</table>

<!-- Add book transaction Modal -->
<div id="transactionAddModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Book Transaction</h4>
      </div>
      <div class="modal-body">
        <form>
		  <div class="form-group">
		    <label for="txtBookId">BookId</label>
		    <input type="number" class="form-control" ng-model='transaction.bookId' id="txtBookId" placeholder="Enter BookId">
		  </div>
		  <div class="form-group">
		    <label for="txtTransDate">TransDate</label>
		    <input type="date" class="form-control" id="txtTransDate" ng-model='transaction.transDate' placeholder="Enter Email">
		  </div>
		  <div class="form-group">
		    <label for="txtTransType">TransType</label>
		    <input type="checkbox" class="form-control" id="txtTransType" ng-model='transaction.transtype' placeholder="Enter Phone">
		  </div>
		  <div class="form-group">
		    <label for="txtDate">Date</label>
		    <input type="date" class="form-control" id="txtDate" ng-model='transaction.transtype' placeholder="Enter Phone">
		  </div>
		  <button type="submit" class="btn btn-default" data-ng-click="addTransaction(transaction);"  data-dismiss="modal">Submit</button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
	</div>
</div>
<!--End add book modal-->


<!-- Edit book transaction Modal -->
<div id="transactionEditModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Book Transaction</h4>
      </div>
      <div class="modal-body">
        <form>
		  <div class="form-group">
		    <label for="txtBookId">BookId</label>
		    <input type="number" class="form-control" ng-model='transaction.bookId' id="txtBookId" placeholder="Enter BookId">
		  </div>
		  <div class="form-group">
		    <label for="txtTransDate">TransDate</label>
		    <input type="date" class="form-control" id="txtTransDate" ng-model='transaction.transDate' placeholder="Enter Email">
		  </div>
		  <div class="form-group">
		    <label for="txtTransType">TransType</label>
		    <input type="checkbox" class="form-control" id="txtTransType" ng-model='transaction.transtype' placeholder="Enter Phone">
		  </div>
		  <div class="form-group">
		    <label for="txtDate">Date</label>
		    <input type="date" class="form-control" id="txtDate" ng-model='transaction.transtype' placeholder="Enter Phone">
		  </div>
		  <button type="submit" class="btn btn-default" data-ng-click="updateTransaction(transaction);"  data-dismiss="modal">Submit</button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
	</div>
</div>
<!--End edit book transaction modal-->
